<div id="score" class="min-h-screen w-full ext-zinc-100 flex flex-col justify-center px-[3vw]">
  <div class="font-black text-emerald-400 animate-pulse mt-[2vh] text-center" style="font-size: 7vh;">
    <% if score[:winner] %>
      <%= court.side_label(score[:winner]) %> WIN 🏆
    <% elsif court.score_settings["deuce"] == true &&
             score[:a] == 40 &&
             score[:b] == 40 &&
             score[:advantage].nil? %>
      DEUCE
    <% elsif court.score_settings["advantage"] == true && score[:advantage].present? %>
      ADVANTAGE — SIDE <%= score[:advantage].to_s.upcase %>
    <% elsif score[:started] %>
      MATCH STARTED
    <% else %>
      WAITING
    <% end %>
  </div>

  <!-- HEADER -->
  <div class="grid grid-cols-4 text-center border-b border-zinc-700 pb-[2vh] mb-[3vh] uppercase tracking-widest font-bold text-zinc-400"
       style="font-size: 4vh;">

    <div class="text-left pl-[1vw]">Player</div>
    <div>Set</div>
    <div>Game</div>
    <div>Point</div>

  </div>

  <!-- SIDE A -->
  <div class="grid grid-cols-4 items-center border-b border-zinc-800 py-[3vh]">

    <div class="text-left pl-[1vw] font-extrabold text-sky-400"
         style="font-size: 6vh;">
      <%= court.side_label_br(:a) %>
    </div>

    <div class="text-center font-extrabold" style="font-size: 8vh;">
      <%= score[:sets_a] || 0 %>
    </div>

    <div class="text-center font-extrabold" style="font-size: 8vh;">
      <%= score[:games_a] || 0 %>
    </div>

    <div class="text-center font-black text-sky-400"
         style="font-size: 12vh;">
      <%= score[:a] %>
    </div>

  </div>

  <!-- SIDE B -->
  <div class="grid grid-cols-4 items-center py-[3vh]">

    <div class="text-left pl-[1vw] font-extrabold text-emerald-400"
         style="font-size: 6vh;">
      <%= court.side_label_br(:b) %>
    </div>

    <div class="text-center font-extrabold" style="font-size: 8vh;">
      <%= score[:sets_b] || 0 %>
    </div>

    <div class="text-center font-extrabold" style="font-size: 8vh;">
      <%= score[:games_b] || 0 %>
    </div>

    <div class="text-center font-black text-emerald-400"
         style="font-size: 12vh;">
      <%= score[:b] %>
    </div>

  </div>

</div>

